*{
    color: aliceblue;
}
body {
    background-color: #B2BABB;
    margin: 0;
    padding: 0;
    background-color: #072F5F;
    /* color: ; */
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 1;
    background-color: #045192;
}

nav>.name {
    width: 40%
}

nav>.name>h1 {
    padding: 20px;
}

nav>.links>.sections>li {
    display: inline-block;
    padding: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} 
main{
    margin-top: 20px;
}
main > #container-1 > .about{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    /* padding: 30px; */
}
main > #container-1 > .about > .details , picture{
    padding: 30px;
    margin: 20px;
}
 h2{
     font-size: 30px;
     text-align: center;
 }
 .my-skills{
     display: flex;
     justify-content: space-around;
     align-items: center;
   
     padding: 30px;
    
 }
 .my-skills .skill{
     
     width: 30%;
     height: 60vh;
     color: black;
     margin: 10px;
     border-radius: 50px;
 }
 .my-skills .skill img{
     width: 100%;
     width: auto;
 }
 #projects-section{
     margin: top -30px;;
 }
 .my-projects{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 30px;
    margin-top: 10px;
    
 }
 #projects-section  .project{
    width: 33%;
    height: 60vh;
    color: black;
    margin: 10px;
    border-radius: 50px;
 }
 #contacts{
     display: flex;
     justify-content: space-between;
     background-color:#045192;
 }
 #contacts .contact{
     padding: 20px;
     /* margin: 20px; */
 }
 #contacts .contact a{
     text-decoration: none;
     font-size: large;
 }